OverloadableContract.Client/Service References/CalculatorService/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/calculator?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/calculator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_AddWithTwoOperans_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWithTwoOperans" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddWithTwoOperans_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWithTwoOperansResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddWithThreeOperands_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWithThreeOperands" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddWithThreeOperands_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWithThreeOperandsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="AddWithTwoOperans">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/AddWithTwoOperans" message="tns:ICalculator_AddWithTwoOperans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/AddWithTwoOperansResponse" message="tns:ICalculator_AddWithTwoOperans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWithThreeOperands">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/AddWithThreeOperands" message="tns:ICalculator_AddWithThreeOperands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/AddWithThreeOperandsResponse" message="tns:ICalculator_AddWithThreeOperands_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWithTwoOperans">
      <soap:operation soapAction="http://tempuri.org/ICalculator/AddWithTwoOperans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWithThreeOperands">
      <soap:operation soapAction="http://tempuri.org/ICalculator/AddWithThreeOperands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:1234/calculator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>